.menu {
    width: 1270px;
    height: 1270px;

}

.middle1 {
    /* border: 2px solid black; */
    width: 270px;
    height: 950px;
    margin-left: 10px;
    margin-top: 10px;
}

.middle2 {
    /* border: 2px solid black; */
    margin-left: 320px;
    width: 1000px;
    height: 1550px;
    margin-top: -920px;
}

.middle3 {
    /* border: 2px solid black; */
    background-color: rgb(202, 194, 194);
    margin-top: 90px;
    margin-left: 0px;
    width: 1260px;
    height: 500px;
}
.middle4{
    /* border: 2px solid black; */
    width: 300px;
    height: 850px;
    margin-left: 940px;
    margin-top: -1850px;
}